<% include header %>
<body>
<div class="col1">
<div id="header">    
    <div>       
        <img src="/images/Naveen Laudu.jpg" class="img-circle" alt="profile" style="float: right"/>
    <h1> 
        NAVEEN LAGUDU </h1>
    </div>

    <div id="topnav">
    
    <ul>                 
        
        <li ><a href="/contact">CONTACT</a></li>
        <li ><a href="/profile">CALCULATOR</a></li>
        <li class="active"><a href="/index">HOME</a></li>
    </ul>
    </div>
    <br class="clear" />
</div>
</div>

<div style="background-image:url('/images/bg.jpg')" class="wrapper col2">
<div id="intro">
    <div class="fl_left">
    
    <ul>
        <li>            
        <h2>BACKGROUND</h2>
        <p>I'm from Andhra Pradesh,INDIA. I completed my under graduation in computer science from Andhra University in 2017.
            I have no professional experience.</p>
        
        </li>
        <li class="middle">
        <h2>PLANS</h2>
        <p>I want to continue my career in developing web applications as full stack developer.</p>
        </li>
        <li >
            <h2>INTRESTS</h2><p>I'm intrested in web development Apart from my technical interest I like shopping and cooking. I love to travel different places.
            I like to listen melodies</p>
            
        
        </li>          
    </ul>
    </div>
    <div class="fl_right">
    <!-- <iframe width="415" height="314" src="https://youtu.be/hzT-uUQ3L88"> </iframe> -->
    <iframe width="729" height="410" src="https://www.youtube.com/embed/hzT-uUQ3L88" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
    <br class="clear" />
</div>
</div>
<% include footer %>