<% include header %>

<body>
<div class="col1">
  <div id="header">    
    <div>       
        <img src="/images/Naveen Laudu.jpg" class="img-circle" style="float: left"  alt="profilepic"/>
      <h1> CALCULATOR </h1>
    </div>
  
    <div id="topnav">
      
      <ul>                 
        
        <li ><a href="/contact">CONTACT</a></li>
        <li class="active"><a href="/profile">CALCULATOR</a></li>
        <li ><a href="/index">HOME</a></li>
      </ul>
    </div>
    <br class="clear" />
  </div>
</div>

<div style="background-image:url('/images/bg.jpg')" class="wrapper col2">
        <div id="intro">
          <div class="fl_left">
            
                <form>
                  
                  <label  id="bc">PACE CALCULATOR:</label> </br>
                        <label for="time">Time(Enter in minutes):</label></br>
                        <input type="text" id="time" name="time"></br>
                    
                        <label for="distance">Distance(Enter in miles):</label></br> 
                        <input type="text" id="dist" name="distance"></br>
                    
                        <label for="pace">pace:</label></br>
                        <input type="text" id="pace" name="pace"></br>
                          
                        
                    
                        
                    
                        <input type="button" id="calculate" value="calculate">
                </form>
                    </div>
                  </div>
                
                
          <br class="clear" />
        </div>
<% include footer %>
      
      